* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 

    Vores Overordnede slider komponent

*/
.slider-wrapper {
    margin: 20px;
    height: 100vh;
}

/* 

    Vores Slider Buttons område

*/

.slider-buttons {

    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.slider-buttons button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 50px;
}

/* 

    Vores slider´s slide

*/

.slider-wrapper .slides .single-slide{
    
    position: relative;
    display: none; /* Slides er som udgangspunkt display:none - Kun når de får class'en 'active', bliver de vist */
    user-select: none;
    height: 80vh;


    animation-name: fade;
    animation-duration: 1.0s;
    
}

/* 

    Vores slider´s slide, når den er active/valgt 

*/
.slider-wrapper .slides .single-slide.active {

    display: flex;
    justify-content: center;

}

/* 

    Vores slider´s slide, img

*/

.slider-wrapper .slides .single-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 

    Vores slider´s slide, img når slider er active.

*/
.slider-wrapper .slides .single-slide.active img{

    border-radius: 32px;

}

/* 

    Vores slider´s slide, content område.

*/
.slider-wrapper .slides .slide-content {

    position: absolute;
    
    width: 90%; 

    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    border-radius: 16px;
    text-align: center;
    padding: 20px 20px;
    bottom: 32px;
    
}

/* 

    Vores slider´s , display område.

*/
.slider-wrapper .slides .display
{

    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    
    width: 120px;
    height: 32px;
    
    background-color: rgba(255, 255, 255, .4);
    color: black;
    
    padding-left: 32px;
    
    border-radius: 32px 0 32px 0;
    border-right: 2px solid rgba(255, 255, 255, .4);
    border-bottom: 2px solid rgba(255, 255, 255, .4);

}


@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
